*.pyc
project.lock.json
bin/
obj/
.vs/
node_modules/
Terraform/terraform.tfstate
Terraform/.terraform
Terraform/.terraform.lock.hcl
Terraform/terraform-output.txt
Terraform/.terraform.tfstate.lock.info
Terraform/terraform.tfstate.backup
Terraform/terraform-output.json
ansible-config/Gitlab_rsa
ansible-config/inventory.ini
